@tailwind base;
@tailwind components;
@tailwind utilities;

.splide__pagination__page {
  opacity: 1;
  @apply bg-base-300;
}

.splide__pagination__page.is-active {
  opacity: 1;
  @apply bg-accent;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }
}

@layer utilities {
  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
    display: grid;
    place-items: center;
  }

  @media (pointer: none), (pointer: coarse) {
    .cursor {
      visibility: hidden;
    }
  }
}
