@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    cursor: none;
  }

  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    mix-blend-mode: difference;
    z-index: 999;
    pointer-events: none;
    display: grid;
    place-items: center;
    background-color: white;
  }

  .cursor-expand {
    width: 48px;
    height: 48px;
  }
}
