@tailwind base;
@tailwind components;
@tailwind utilities;

.splide__pagination__page {
  @apply bg-base-300;
}

.splide__pagination__page.is-active {
  @apply bg-accent;
}

.splide__arrow {
  @apply rounded-full p-3 w-fit h-fit bg-base-100 hover:bg-primary duration-200 hover:text-primary-content;
}

.splide__arrow svg {
  @apply fill-base-content;
}


.splide__arrow:hover svg {
  @apply fill-primary-content;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }
}

@layer utilities {
  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
    display: grid;
    place-items: center;
  }

  @media (pointer: none), (pointer: coarse) {
    .cursor {
      visibility: hidden;
    }
  }
}
